h2 {
    font-family: 'Signika', sans-serif;
}

body {
      background-color: #CBFFF7;
}

p {
  font-family: 'Crimson Text', serif;
  padding-left: 10px;
  margin-left: 15px;
}
.firstpic {
          width: 100%;
          height: auto;
          left: 0px;
          right: 0px;
          display: block;
}

.scootergif {
          padding-left: 400px;
}
