.headline , h3 , h4 {
    font-family:"DM Serif Display", serif;
}

.topimg {
  height: 20px;
  max-width: 600px;
  width: 100%;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 100px;
  padding-bottom: 100px;

}

.article {
        font-family: "Noto Sans" , "Ariel" , "Helvetica" sans-serif;
        font-size: 16px;
      }
